:root {
    --background: #33373F;
    --background-2: #41454E;
    --foreground: white;
    --foreground-2: #484d54;
    --content-width: 1000px;
  }
  
  html {
    font-family: Inter, SF Pro Display, -apple-system, sans-serif;
  }
  
  h1, h2, h3 {
    font-weight: normal;
  }
  
  body {
    /* background: var(--background); */
    /* color: var(--foreground); */
    text-align: center;
  }
  
  
  .content-block {
    margin-left: 30px;
    margin-right: 30px;
    overflow-x: hidden;
  }
  
  @media(min-width: 900px) {
    .content-block {
      margin-left: 50px;
      margin-right: 50px;
    }
  }
  
  @media(min-width: 1200px) {
    .content-block {
      max-width: var(--content-width);
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .hero-banner {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hero-banner h1 {
    color: #0069ff;
    font-size: 56px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 40px;
  
  }
  
  .hero-banner h2 {
    border: none;
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  .hero-banner h3 {
    font-size: 20px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 40px;
  }
  
  .btn-action-primary {
      width: 200px;
      height: 50px;
      background: #446ca5d2;
      padding: auto;
      margin-left: 25px;
      border-radius: 30px;
  }
    
  @media(min-width: 900px) {
    .hero-banner h3 {
      max-width: 60%;
    }
  }
  
  @media(min-width: 1200px) {
    .hero-banner h3 {
      max-width: 75%;
    }
  }
  


   /* Test */

   /* For all the cards in the page */
  
  .card{
    border-radius: 20px;

    
  }
  
  
  .card-subtitle{
    margin-top: 10px;
    padding: 20px;
  
  }

  .card-text{
    
  } 

  /* For card inside service section */

   .card-grid {
    
    border-radius: 12px;
    padding: 30px;
    
  }
  
  .card-grid  img {
    padding: 2px;
    border-radius: 20px;
  }
  
  .card-grid  h5 {
    font-size: 32px;
    color:#009AF1;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 7px;
    text-align: center;
  }
  
  
  /* for card inside testimonial grid */
  .testimonials-grid {
    
    border-radius: 12px;
    padding: 29px;
    text-align: left;
  }
  
  
  .testimonials-grid img {
    margin: 0;
    padding: 0;
    display: inline;
    float: left;
    width: 50px;
    margin-right: 20px;
    border-radius: 90px;
  }
  
  .testimonials-grid h5 {
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
   
  }
  
  .footer {
    color: #A2A8B4;
    font-size: 16px;
    margin-top: 40px;
    padding-top: 30px !important;
    border-top: 1px solid var(--foreground-2);
  }
  
  /* Below are needed to make .ipynb equivalent to .qmd */
  
  .figure {
    display: inline;
  }
  
  .quarto-figure {
    margin: 0;
  }

